<footer>
    {% comment %}
    {{ tools | inspect }}
    {% endcomment %}
    <section class="tools">
        <h2>Tools</h2>
        <div class="grid">
        {%- if tools -%}
        {%- for tool in tools -%}
        {%- if tool.ignore -%}
            {%- continue -%}
        {%- endif -%}
            <ul>
                <li class="subtitle">{{ tool.name }}</li>
                <li><a href="{{ tool.url }}" target="_blank" rel="noopener">Website</a></li>
                {%- if tool.showcase -%}
                <li><a href="{{ tool.showcase }}" target="_blank" rel="noopener">Showcase</a></li>
                {%- endif -%}
                {%- if tool.snippets -%}
                <li><a href="{{ tool.snippets }}" target="_blank" rel="noopener">Snippets</a></li>
                {%- endif -%}
            </ul>
        
        {%- endfor -%}
        {%- endif -%}
        </div>
    </section>
    <section class="social">
        <h2>Social</h2>
        <ul>
            {%- for link in social.social_data -%}
            <li class="{{ link.name }}"><a href="{{ link.uri }}">{{ link.name }}</a></li>
            {%- endfor -%}
        </ul>
    </section>
</footer>