src/svg/
.haxelib/
lighthouse/
secrets.json

# 11ty
_site

# NodeJS specific
#################

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

