<link rel="import" href="defaults.html" />
<link rel="import" href="social_meta.html" />
<link rel="import" href="stylesheets.html" />
<link rel="import" href="favicon.html" />
<link rel="import" href="head_scripts.html" />
<link rel="import" href="header.html" />
<link rel="import" href="footer.html" />
<link rel="import" href="document.head.html" />
<link rel="import" href="document.body.html" />
<template data-prefix="hio" data-name="article">
	<document-head>
		<hio-stylesheets></hio-stylesheets>
		<hio-icons></hio-icons>
		<hio-scripts></hio-scripts>
		<!--<title>
			<content select="h1"></content> | Haxe.io
		</title>-->
	</document-head>
	<document-body>
		<hio-header></hio-header>
		<article>
			<div class="grid">
				<aside class="grid-1-3">
					<a href="https://github.com/skial/haxe.io/issues?labels=next-roundup&amp;page=1&amp;state=open">Suggest a link</a> 
					<a href="https://github.com/skial/haxe.io/tree/master/src/roundups/366.md">Correct this issue</a>
				</aside>
				<section class="grid-2-3">
					<content></content>
				</section>
			</div>
		</article>
		<hio-footer></hio-footer>
	</document-body>
</template>
<script src="/js/component.js"></script>
