<link rel="import" href="/templates/metas.html" />
<link rel="import" href="/templates/metas.social.html" />
<link rel="import" href="/templates/stylesheets.html" />
<link rel="import" href="/templates/favicon.html" />
<link rel="import" href="/templates/scripts.html" />
<link rel="import" href="/templates/header.html" />
<link rel="import" href="/templates/footer.html" />
<script src="/js/ace.js"></script>
<template data-prefix="hio" data-name="article">
	<document-head>
		<hio-metas></hio-metas>
		<css-data select="section h1:first-of-type" to:title use:text wait +:> | Haxe.io</css-data>
		<hio-metas.social></hio-metas.social>
		<hio-stylesheets></hio-stylesheets>
		<hio-icons></hio-icons>
		<hio-scripts></hio-scripts>
	</document-head>
	<document-body>
		<hio-header></hio-header>
		<article>
			<div class="grid">
				<aside class="grid-1-3">
					<a href="https://github.com/skial/haxe.io/issues?labels=next-roundup&amp;page=1&amp;state=open">Suggest a link</a> 
					<json-data select=".input .raw"><a :href="https://github.com/skial/haxe.io/tree/master/{*}">Correct this issue</a></json-data>
				</aside>
				<section class="grid-2-3">
					<span id="markdown"></span>
				</section>
			</div>
		</article>
		<hio-footer></hio-footer>
	</document-body>
</template>
<script src="/js/component.js"></script>
