<!--
	`<css-data></css-data>` element accepts the following attributes:
	- `select="[string]"`, where `[string]` is a css selector that matches against
		the current document.
	- `to:[name]`, where `[name]` is a valid html element name. The current 
		`<css-data></css-data>` will be converted to `[name]`.
	- `use:text` will take the result of `select` and only use the innerHTML of
		the matches and append the result as a text node.
	- `+:` or `:+` either pre-appends or post-appends the resulting `use:text` to
		the childNode list.
-->
<template data-prefix="css" data-name="data">
	
</template>
<script src="/js/dom.data.js"></script>
