<template>
	<content select="h1:first-of-type" targets="meta[property='og:title'][content]"></content>
	<content select="h1:first-of-type" targets="meta[name='twitter:title'][content]"></content>
	<!-- Twitter Meta -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@skial" />
	<meta name="twitter:creator" content="@skial" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:description" content="" />
	<meta name="twitter:image:src" content="" />
	<!-- Google+, Facebook, OpenGraph Meta -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:description" content="" />
	<meta property="og:type" content="article" />
	<meta property="og:site_name" content="Haxe.io — News And Information For Haxe Developers" />
	<!---- Extra -->
	<meta name="description" content="" />
	<!-- Google Authorship and Publisher Data -->
	<link rel="author" href="https://plus.google.com/+SkialBainn/posts"/>
	<!-- RSS -->
	<link title="Haxe.io Feed" rel="alternate" type="application/rss+xml" href="http://blog.skialbainn.com/rss"/>
</template>
<script src="/js/component.js"></script>
