<template data-prefix="hio" data-name="stylesheets">
	<document-head>
		<link href="/css/normalize.css" rel="stylesheet" type="text/css" />
		<link href="/css/normalize-opentype.css" rel="stylesheet" type="text/css" />
		<link href="/css/haxe.io.css" rel="stylesheet" type="text/css" />
		<!--
		<link href="//fonts.googleapis.com/css?family=Bitter:400,700,400italic&subset=latin,latin-ext" rel="stylesheet" type="text/css" />
		-->
		<link href='//fonts.googleapis.com/css?family=Open+Sans:600,400,700,800|Gentium+Book+Basic:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
	</document-head>
</template>
<script src="/js/component.js"></script>
