<template>
	<ol>
		<h2>Prologue</h2>
		<li><a title="Watch What is The Nature of Code" href="/videos/noc/what-is-it/">What is The Nature of Code</a></li>
		<li><a title="Watch The Nature of Haxe - Variables" href="/videos/noc/variables/">Variables</a></li>
		<li><a title="Watch The Nature of Haxe - Data Types" href="/videos/noc/data-types/">Data Types</a></li>
		<li><a title="Watch The Nature of Haxe - If Statements" href="/videos/noc/if-statements/">If Statements</a></li>
		<li><a title="Watch The Nature of Haxe - Loops" href="/videos/noc/loops/">Loops</a></li>
		<li><a title="Watch The Nature of Haxe - Functions" href="/videos/noc/functions/">Functions</a></li>
		<li><a title="Watch The Nature of Haxe - Objects" href="/videos/noc/objects/">Objects</a></li>
		<li><a title="Watch The Nature of Haxe - Processing-like Setup" href="/videos/noc/processing-like-setup/">Processing-like Setup</a></li>
	</ol>
	<ol>
		<h2>Introduction</h2>
		<li><a title="Watch The Nature of Haxe - The Random Walker" href="/videos/noc/the-random-walker/">The Random Walker</a></li>
		<li><a title="Watch The Nature of Haxe - Uniform Distribution" href="/videos/noc/uniform-distribution/">Uniform Distribution</a></li>
		<li><a title="Watch The Nature of Haxe - Non Uniform Distribution" href="/videos/noc/non-uniform-distribution/">Non-Uniform Distribution</a></li>
		<li><a title="Watch The Nature of Haxe - Normal Distributions" href="/videos/noc/normal-distributions/">Normal Distributions</a></li>
	</ol>
</template>