<template>
	<ol>
		<h2>Prologue</h2>
		<li><a href="/videos/what-is-the-nature-of-code/">What is The Nature of Code</a></li>
		<li><a href="/videos/noc-variables/">Variables</a></li>
		<li><a href="/videos/noc-data-types/">Data Types</a></li>
		<li><a href="/videos/noc-if-statements/">If Statements</a></li>
		<li><a href="/videos/noc-loops/">Loops</a></li>
		<li><a href="/videos/noc-functions/">Functions</a></li>
		<li><a href="/videos/noc-objects/">Objects</a></li>
		<li><a href="/videos/processing-like-setup/">Processing-like Setup</a></li>
	</ol>
	<ol>
		<h2>Introduction</h2>
		<li><a href="/videos/the-random-walker/">The Random Walker</a></li>
		<li><a href="/videos/uniform-distribution/">Uniform Distribution</a></li>
		<li><a href="/videos/non-uniform-distribution/">Non-Uniform Distribution</a></li>
	</ol>
</template>