<link rel="import" href="/templates/metas.html" />
<link rel="import" href="/templates/metas.social.html" />
<link rel="import" href="/templates/stylesheets.html" />
<link rel="import" href="/templates/favicon.html" />
<link rel="import" href="/templates/scripts.html" />
<link rel="import" href="/templates/header.html" />
<link rel="import" href="/templates/footer.html" />
<script src="/js/ace.js"></script>
<template data-prefix="hio" data-name="ludumdare">
	<document-head>
		<hio-metas></hio-metas>
		<css-data select="section h1:first-of-type" to:title use:text wait +:> | Haxe.io</css-data>
		<hio-metas.social></hio-metas.social>
		<hio-stylesheets></hio-stylesheets>
		<hio-icons></hio-icons>
		<hio-scripts></hio-scripts>
	</document-head>
	<document-body>
		<input id="web" type="checkbox" name="ld-filter-group" />
		<input id="osx" type="checkbox" name="ld-filter-group" />
		<input id="linux" type="checkbox" name="ld-filter-group" />
		<input id="windows" type="checkbox" name="ld-filter-group" />
		<input id="source" type="checkbox" name="ld-filter-group" />
		<hio-header></hio-header>
		<article id="ludumdare_article">
			<div class="grid">
				<aside class="grid-1-3">
					<nav>
						<h1>Table of Contents</h1>
						<ul>
							<json-data select=".framework" each>
								<li><a :title="*" :href="#{*}"><span :to="*"></span></a></li>
							</json-data>
						</ul>
					</nav>
					<div>
						<h1>Filter by</h1>
						<ul class="filter">
							<li><label class="label web" for="web" onclick=";">Web</label></li>
							<li><label class="label osx" for="osx" onclick=";">OSX</label></li>
							<li><label class="label linux" for="linux" onclick=";">Linux</label></li>
							<li><label class="label windows" for="windows" onclick=";">Windows</label></li>
							<li><label class="label source" for="source" onclick=";">Has Source</label></li>
						</ul>
					</div>
					<!--<a class="contribute" href="https://github.com/skial/haxe.io/issues/334">Add your game</a>-->
					<json-data select=".ld"><a class="contribute" :href="https://github.com/skial/haxe.io/blob/master/src/data/ld{*}.manual.json">Add your game</a></json-data>
				</aside>
				<section class="grid-2-3">
					<span id="markdown"></span>
					<json-data select=".framework" each>
						<h2><a :id="*" type="text/html" :href="#{*}"><span></span></a><span :to="*"></span></h2>
						<ul>
							<json-data :select=".entries:has([frameworks^='{*}'])" retarget each>
								<li :data-platforms="{.platforms}">
									<json-data :select=".ld, .entries:has(.author[name='{.author > .name}'])" retarget>
										<a :href="http://ludumdare.com/compo/ludum-dare-{int:first-child}/{:last-child > .url}?{:last-child > .type}"><span :to="{:last-child > .name}"></span></a>
									</json-data>
									by
									<a :href="http://ludumdare.com/compo{.author > .url}"><span :to="{.author > .name}"></span></a>.
								</li>
							</json-data>
						</ul>
					</json-data>
				</section>
			</div>
		</article>
		<hio-footer></hio-footer>
	</document-body>
</template>
<script src="/js/component.js"></script>
