{% if post.data.payload.created %}
    {% assign chosen_date = post.data.payload.created %}
{% elsif post.data.payload.published %}
    {% assign chosen_date = post.data.payload.published %}
{% elsif post.data.payload.modified %}
    {% assign chosen_date = post.data.payload.modified %}
{% else %}
    {% assign chosen_date = post.date %}
{% endif %}
{% assign page_title = post.data.payload.title | default: post.page.fileSlug %}

{% assign letters = '' | split: '' %}
{% for tag in post.data.tags %}
    {% assign first_letter = tag | slice: 0 %}
    {% assign letters = letters | concat: first_letter %}
{% endfor %}
{% assign page_id = letters | join: '' | append: post.page.fileSlug | slugify %}

{% assign authors = '' | split: '' %}
{% for author in post.data.payload.authors %}
    {% assign lowercase = author.display | downcase %}
    {% assign slug = lowercase | slugify %}
    {% assign authors = authors | push: slug %}
{% endfor %}

{% assign contributors = '' | split: '' %}
{% for contributor in post.data.payload.contributors %}
    {% assign lowercase = contributor.display | downcase %}
    {% assign slug = lowercase | slugify %}
    {% assign contributors = contributors | push: slug %}
{% endfor %}
<li id="{{ page_id }}" class="{{ post.data.tags | join: ' ' }}" data-authors="{{ authors | join: ' '}}" data-contributors="{{ contributors | join: ' '}}" data-month="{{ chosen_date | date: '%b' | downcase }}">
    <a title="{{ page_title }}" href="{{ post.page.url }}">{{ page_title }}</a>
    <time datetime="{{ chosen_date | date: '%Y-%m-%d %H:%M:%S' }}">{{ chosen_date | date: '%d %b' }}</time>
</li>