{% if post.data.payload.created %}
    {% assign chosen_date = post.data.payload.created %}
{% elsif post.data.payload.published %}
    {% assign chosen_date = post.data.payload.published %}
{% elsif post.data.payload.modified %}
    {% assign chosen_date = post.data.payload.modified %}
{% else %}
    {% assign chosen_date = post.date %}
{% endif %}
{% assign page_title = post.data.payload.title | default: post.page.fileSlug %}

{% assign letters = '' | split: '' %}
{% for tag in post.data.tags %}
    {% assign first_letter = tag | slice: 0 %}
    {% assign letters = letters | concat: first_letter %}
{% endfor %}
{% assign page_id = letters | join: '' | append: post.page.fileSlug | slugify %}
<li class="{{ post.data.tags | join: ' ' }}" itemtype="http://schema.org/Article" id="{{ page_id }}" itemscope>
    <article class="grid col-2">
        <a title="{{ page_title }}" href="{{ post.page.url }}">
            <h1 itemprop="headline">{{ page_title }}</h1>
        </a>
        <time datetime="{{ chosen_date | date: '%Y-%m-%d %H:%M:%S' }}">{{ chosen_date | date: '%d %b %Y' }}</time>
        <div class="details">
            {% if post.data.payload.authors.size > 0 %}
            <span>written by </span>
            <ul class="people authors">
                {% for person in post.data.payload.authors %}
                <li>{% if forloop.first != true and forloop.last %}and {% endif %}{{ person.display }}{% if forloop.last == false and forloop.0index != forloop.length %}, {% endif %}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if post.data.payload.contributors.size > 0 %}
            <span>with contributions from </span>
            <ul class="people contributors">
                {% for person in post.data.payload.contributors %}
                <li>{% if forloop.first != true and forloop.last %}and {% endif %}{{ person.display }}{% if forloop.last == false and forloop.0index != forloop.length %}, {% endif %}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </article>
    
    {% comment %}
    {{ post.data.payload | inspect }}
    {% endcomment %}
</li>