{% comment %}
{{ payload | inspect }}
{% endcomment %}

{%- if payload.modified -%}
    {% assign chosen_date = payload.modified %}
{%- elsif payload.published -%}
    {% assign chosen_date = payload.published %}
{%- elsif payload.created -%}
    {% assign chosen_date = payload.created %}
{%- else -%}
    {% assign chosen_date = page.date %}
{%- endif -%}
<div class="details">
    {%- if payload.authors.size > 0 -%}
    <span>written by </span>
    {% render "payload/who.html", people: payload.authors, class: "author" %}
    {%- endif -%}
    
    {% if payload.contributors.size > 0 %}
    <span> with contributions from </span>
    {% render "payload/who.html", people: payload.contributors, class: "contributor" %}
    {% endif %}
    <span>Edited on </span>
    <time pubdate datetime="{{ chosen_date | date: '%Y-%M-%d %H:%M:%S'}}">{{ chosen_date | date: '%A %e%q %B %Y' }}</time>
</div>