footer {
    padding: 2rem;
    margin-top: 4rem;

    .tools {
        .subtitle {
            list-style: none;
            margin-left: -0.8rem;
        }

        li:not(.subtitle) {
            font-size: .800rem;
        }
    }

    .social {
        li {
            text-transform: capitalize;
        }
    }

    form {
        fieldset {
            text-align: center;
            border-width: 3px;
            border-top-style: dotted;
            border-color: var(--pico-secondary);

            legend {
                text-align: center;
                font-size: 30%;
                font-family: 'Courier New', Courier, monospace;
                letter-spacing: 0.1rem;
                padding: 0 0.2rem;
                margin-left: auto;
                margin-right: auto;
            }
        }

    }

    .copyright {
        font-size: 0.8rem;
        margin-left: 0;
        margin-bottom: 1rem;
        color: var(--pico-secondary);
    }
}