pre[language="haxe"] {
	background-color: #2C3E50;
	color: #f5f5f5;
}

code[language="haxe"] .comment {
	color: #95A5A6;
}

code[language="haxe"] .const {
	color: #2ECC71;
}

code[language="haxe"] .const.string {
	color: #2ECC71;
}

code[language="haxe"] .at,
code[language="haxe"] .const.ident {
	color: #3498DB;
}

code[language="haxe"] :not(.at) + .colon + .const.ident,
code[language="haxe"] :not(.at) + .colon + .const.ident + .dot + .const.ident,
code[language="haxe"] :not(.at) + .colon + .const.ident + .dot + .const.ident + .dot + .const.ident,
code[language="haxe"] :not(.at) + .colon + .const.ident + .binop.lt + .const.ident,
code[language="haxe"] :not(.at) + .colon + .const.ident + .dot + .const.ident + .binop.lt + .const.ident,
code[language="haxe"] :not(.at) + .colon + .const.ident + .dot + .const.ident + .dot + .const.ident + .binop.lt + .const.ident,
code[language="haxe"] .keyword.class + .space + .const.ident {
	color: #F1C40F;
}

code[language="haxe"] .keyword {
	color: #9B59B6;
}

/*code[language="haxe"] .keyword.extern,*/
code[language="haxe"] .keyword.class,
code[language="haxe"] .keyword.function,
code[language="haxe"] .keyword.var,
code[language="haxe"] .parentheses.open + .const.ident {
	color: #E74C3C;
}

code[language="haxe"] .keyword.function + .space + .const.ident {
	color: #3498DB;
}

code[language="haxe"] .dot + .const.ident {
	color: #3498DB;
}