@use "_core";
@use "_filter";
@use "_header";
@use "_footer";

aside details ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.filter-title {
    flex-basis: 100%;
}

.articles {
    a {
        font-size: 1.1rem;
    }

    li {
        display: flex;
        list-style: circle;
        align-content: space-between;
        
    }

    time {
        margin-left: auto;
    }
}

.details {
    padding-left: 1rem;
    display: none;
}

.details, .details *, time {
    font-size: 0.8rem;
}

.details, .details * {
    line-height: 0;
}

{% liquid
    assign years = '' | split: ''
    assign years_topics = '' | split: ''
    assign current_year = ''
    assign years_tracked = '' | split: ''
    assign change_year = false
    assign full_months = 'January,February,March,April,May,June,July,August,September,October,November,December' | split: ','
    assign months = '' | split: ''
    assign months_tracked = '' | split: ''
    assign months_topics = '' | split: ''

    for month in full_months
        assign as_date_string = "01-" | append: month | append: "-2026"
        assign as_month = as_date_string | date: "%b" | downcase
        assign months = months | push: as_month
    endfor
    assign months = months | uniq

    for post in collections.everything
        if post.data.payload.created
            assign chosen_date = post.data.payload.created
        elsif post.data.payload.published
            assign chosen_date = post.data.payload.published
        elsif post.data.payload.modified
            assign chosen_date = post.data.payload.modified
        else
            assign chosen_date = post.date
        endif

        assign current_month = chosen_date | date: "%b" | downcase
        assign months_tracked = months_tracked | push: current_month

        if forloop.first
            assign current_year = chosen_date | date: '%Y'
        endif

        assign loop_year = chosen_date | date: '%Y'

        if current_year != loop_year
            assign change_year = true
        else
            assign years_tracked = years_tracked | concat: post.data.tags 
        endif

        if change_year or forloop.last
            assign years = years | push: current_year
            assign stringify = years_tracked | uniq | join: ','
            assign years_topics = years_topics | push: stringify

            assign stringify = months_tracked | uniq | join: ','
            assign months_topics = months_topics | push: stringify

            assign change_year = false
            assign years_tracked = post.data.tags
            assign current_year = loop_year
            assign months_tracked = '' | split: ''
        endif
    endfor

    assign topics = '' | split: ''
    assign class_topics = '' | split: ''
    for topic in ["frontpage.topics"]
        assign name = topic.name | downcase | slugify
        assign topics = topics | push: name
        assign class = '.' | append: name
        assign class_topics = class_topics | push: class
    endfor
%}
/**
    Rules for the filter buttons.
    these values are taken from `.outline` and `.secondary` classes 
*/
{%- for topic in topics %}
#{{ topic }}:not(:checked) ~ main details label[for="{{ topic }}"],
{%- endfor -%}
{% for year in years %}
#year-{{ year }}:not(:checked) ~ main details label[for="year-{{ year }}"],
{% endfor %}
{% for month in months %}
#month-{{ month }}:not(:checked) ~ main details label[for="month-{{ month }}"]{% if forloop.last == false %}, {% endif %}
{% endfor %}
{
    --pico-background-color: transparent;
    --pico-color: var(--pico-primary);
    --pico-border-color: var(--pico-primary);
    --pico-color: var(--pico-secondary);
    --pico-border-color: var(--pico-secondary);
}

/* Hide anything not a <h1|ul class="$topic"> */
{% for name in topics %}
#{{ name }}:checked ~ main section > :is(h1, ul):not(.{{ name }}),
{% endfor %}
/* Hide anything not a <h1|ul class="year-$year"> */
{% for year in years %}
#year-{{ year }}:checked ~ main section > :is(h1, ul):not(.year-{{ year }}){% if forloop.last == false%},{% endif %}
{% endfor %}
{
    display: none;
}


/* Show <h1|ul class="$topic">, enables multiple selection */
{% for name in topics %}
#{{ name }}:checked ~ main section > :is(h1, ul).{{ name }},
{% endfor %}
/* Show <h1|ul class="year-$year">, enables multiple selection */
{% for year in years %}
#year-{{ year }}:checked ~ main section > :is(h1, ul).year-{{ year }}{% if forloop.last == false%},{% endif %}
{% endfor %}
{
    display: block;
}

/* Hide anything not <li class="$topic"> */
{% for topic in ["frontpage.topics"] %}
{% assign name = topic.name | slugify %}
#{{ name }}:checked ~ main section > .articles > li:not(.{{ name }}){% if forloop.last == false %},{% endif %}
{% endfor %}
{
    display: none;
}

/* Show <li class="$topic", enables multiple selection */
{% for topic in ["frontpage.topics"] %}
{% assign name = topic.name | slugify %}
#{{ name }}:checked ~ main section > .articles > li.{{ name }}{% if forloop.last == false %},{% endif %}
{% endfor %}
{
    display: flex;
}

/* Hide anything not <li class="$month"> */
{% for month in months %}
#month-{{ month }}:checked ~ main section > .articles > li:not(.{{ month }}){% if forloop.last == false %},{% endif %}
{% endfor %}
{
    display: none;
}

/* Show <li class="$month", enables multiple selection */
{% for month in months %}
#month-{{ month }}:checked ~ main section > .articles > li.{{ month }}{% if forloop.last == false %},{% endif %}
{% endfor %}
{
    display: flex;
}

{% for month in months %}
#month-{{ month }}:checked ~ {
    {% for topic in topics %}
    #{{ topic }}:checked ~ {
        main section > .articles > li:not(.{{ topic }}.{{ month }}) {
            display: none;
        }
    }
    {% endfor %}
}
{% endfor %}

{% for month in months %}
#month-{{ month }}:checked ~ {
    {% for topic in topics %}
    #{{ topic }}:checked ~ {
        main section > .articles > li.{{ topic }}.{{ month }} {
            display: flex;
        }
    }
    {% endfor %}
}
{% endfor %}

{% for year in years %}
#year-{{ year }}:checked ~ {
    {% assign allowed_topics = years_topics[forloop.index0] | split: ',' %}
    {% for topic in allowed_topics %}
    #{{ topic }}:checked ~ {
        main section > :is(h1, ul):not(.{{ topic }}.year-{{ year }}) {
            display: none;
        }
    }
    {% endfor %}
}
{% endfor %}

{% for year in years %}
#year-{{ year }}:checked ~ {
    {% assign allowed_topics = years_topics[forloop.index0] | split: ',' %}
    {% for topic in allowed_topics %}
    #{{ topic }}:checked ~ {
        main section > :is(h1, ul).{{ topic }}.year-{{ year }} {
            display: block;
        }
    }
    {% endfor %}
}
{% endfor %}

aside details:first-of-type, .year-title:first-of-type {
    margin-top: 3rem;
}

@media (min-width: 768px) {
    .grid.col-2 {
        grid-template-columns: 1fr 5fr;
    }

    aside details ul {
        display: block
    }

    .details, .details * {
        display: initial;
    }
}

@media (min-width: 1024px) {
    article a {
        font-size: 1.2rem;
    }
}