@use "_core";
@use "_header";

.grid.col-2 {
        grid-template-columns: 1fr 5fr;
    }

.articles {
    a {
        font-size: 1.1rem;
    }

    li {
        display: flex;
        list-style: circle;
        align-content: space-between;
        
    }

    time {
        margin-left: auto;
    }
}

.details {
    padding-left: 1rem;
    display: none;
}

.details, .details *, time {
    font-size: 0.8rem;
}

.details, .details * {
    line-height: 0;
}

{% assign years = '' | split: '' %}
{% assign current_year = '' %}
{% assign change_year = false %}
{%- for post in collections.everything -%}
{% if post.data.payload.created %}
    {% assign chosen_date = post.data.payload.created %}
{% elsif post.data.payload.published %}
    {% assign chosen_date = post.data.payload.published %}
{% elsif post.data.payload.modified %}
    {% assign chosen_date = post.data.payload.modified %}
{% else %}
    {% assign chosen_date = post.date %}
{% endif %}
{% assign loop_year = chosen_date | date: '%Y' %}
{% if current_year != loop_year %}
    {% assign current_year = chosen_date | date: '%Y' %}
    {% assign change_year = true %}
{% endif %}

{% if change_year %}
    {% if forloop.first == false %}
    {% endif %}
    {% assign years = years | push: current_year %}
    {% assign change_year = false %}
{% endif %}
{%- endfor -%}
/**
Rules for filter buttons.
*/
/** these values are taken from `.outline` and `.secondary` classes */
{%- for topic in ["frontpage.topics"] %}
#{{ topic.name | slugify }}:not(:checked) ~ main nav label[for="{{ topic.name | slugify }}"]{% if forloop.last == false %}, {% endif %}
{%- endfor -%},
{% for year in years %}
#year-{{ year }}:not(:checked) ~ main nav label[for="year-{{ year }}"]{% if forloop.last == false %}, {% endif %}
{% endfor %}
{
    --pico-background-color: transparent;
    --pico-color: var(--pico-primary);
    --pico-border-color: var(--pico-primary);
    --pico-color: var(--pico-secondary);
    --pico-border-color: var(--pico-secondary);
}

#year-2026:checked ~ main section > :not(.year-2026),
#year-2025:checked ~ main section > :not(.year-2025),
#year-2016:checked ~ main section > :not(.year-2016),
#year-2015:checked ~ main section > :not(.year-2015),
#year-2014:checked ~ main section > :not(.year-2014) {
    display: none;
}

#year-2026:checked ~ main section > .year-2026,
#year-2025:checked ~ main section > .year-2025,
#year-2016:checked ~ main section > .year-2016,
#year-2015:checked ~ main section > .year-2015,
#year-2014:checked ~ main section > .year-2014 {
    display: block;
}

/*[name="topic-filter"]:checked ~ main section .year-title {
    display: none;
}*/
/*[name="topic-filter"]:checked ~ [class="year-filter"]:not(:checked) ~ main section > [class*="year-"] {
    display: none;
}*/
#ludum-dare:checked ~ [name="year-filter"]:not(:checked) ~ main section .year-title:not(:has(+ ul > .ludum-dare)) {
    display: none;
}

/* Hide everything not checked. */
#roundups:checked ~ main section .articles > li:not(.roundups),
#ludum-dare:checked ~ main section .articles > li:not(.ludum-dare),
#releases:checked ~ main section .articles > li:not(.releases) {
    display: none;
}

/* If multiple checked, they need displaying.  */
#roundups:checked ~ main section .articles > li.roundups,
#ludum-dare:checked ~ main section .articles > li.ludum-dare,
#releases:checked ~ main section .articles > li.releases {
    display: flex;
}

/* Hide heading if all content hidden */
/*#roundups:checked ~ main section .year-title:has(+ ul > .roundups),
#ludum-dare:checked ~ main section .year-title:has(+ ul > .ludum-dare),
#releases:checked ~ main section .year-title:has(+ ul > .releases) {
    display: block;
}*/
/*#ludum-dare:checked ~ [name="year-filter"]:not(:checked) ~ main section .year-title:has(+ ul > .ludum-dare),*/
#ludum-dare:checked ~ #year-2016:checked ~ main section h1.year-2016:has(+ ul > .ludum-dare),
#ludum-dare:checked ~ #year-2015:checked ~ main section h1.year-2015:has(+ ul > .ludum-dare),
#ludum-dare:checked ~ #year-2014:checked ~ main section h1.year-2014:has(+ ul > .ludum-dare),
#releases:checked ~ #year-2016:checked ~ main section h1.year-2016:has(+ ul > .releases),
#releases:checked ~ #year-2015:checked ~ main section h1.year-2015:has(+ ul > .releases),
#releases:checked ~ #year-2014:checked ~ main section h1.year-2014:has(+ ul > .releases),
#events:checked ~ #year-2016:checked ~ main section h1.year-2016:has(+ ul > .events) {
    display: block;
}
@media (min-width: 768px) {
    /*.grid.col-2 {
        grid-template-columns: 5fr 1fr;
    }*/

    .details, .details * {
        display: initial;
    }
}

@media (min-width: 1024px) {
    article a {
        font-size: 1.2rem;
    }
}