@media only screen and (prefers-color-scheme: light) {
    [data-theme=light],
    :root:not([data-theme=dark]),
    :host(:not([data-theme=dark])) {
        --pico-background-color: #fffdf9 !important;
    }

    article {
        background-color: hsla(47,36%,95%,.8) !important;
        box-shadow: var(--pico-card-box-shadow);
    }
}

@media (min-width: 768px) {
    .grid.col-2 {
        grid-template-columns: 20% 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-items: stretch;
        align-items: stretch;
    }
}

.logo {
    max-width: 5rem;
}

.logo a {
    color: inherit;
}

.hero .details {
    font-size: .800rem;
    padding-bottom: 5rem;
}

.emoji {
    height: 1em;
}