@use "_core";

.pagefind-ui {
    
}

.pagefind-ui__message {
    margin-top: var(--pico-typography-spacing-vertical);
}

.pagefind-ui__form {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-items: stretch;
    align-items: stretch;
    box-shadow: none;
    margin-bottom: 0;
}

.pagefind-ui__search-input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 0.8rem;
    overflow-wrap: normal;
}

.pagefind-ui__search-clear {
    border-top-right-radius: var(--pico-border-radius) !important;
    border-bottom-right-radius: var(--pico-border-radius) !important;
    font-size: 0.8rem;
    overflow-wrap: normal;
}

.pagefind-ui__drawer {

}

.pagefind-ui__result {
    margin-bottom: 1rem;
    border-bottom-width: 1px;
    border-bottom-style: groove;
    border-bottom-color: var(--pico-color);
}

.pagefind-ui__result-title {

}

.pagefind-ui__result-nested .pagefind-ui__result-title .pagefind-ui__result-link {
    --pico-color: var(--pico-secondary);
    --pico-underline: var(--pico-secondary-underline);
}

@media (min-width: 768px) {
    .grid.col-2 {
        grid-template-columns: 5fr 1fr;
    }
}

@media (min-width: 1024px) {
    .pagefind-ui__search-input, .pagefind-ui__search-clear {
        font-size: 0.8rem;
        overflow-wrap: normal;
    }
}