main p,
main h1 {
	text-shadow: 1px 1px 2px #393977;
}

#r229 {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/229/papers.jpg);
}

#r228 {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/228/ghost.png);
}

#r227 {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/227/headless_nme.png);
}

#r226 {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/226/ios_blender_kha.jpg);
}

#r225 {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/225/blender.png);
}

#r224 {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/224/evoland2.jpg);
}

#r223 {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/223/swan.png);
}

#r222 {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/222/deadcells.png);
}

#r221 {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/221/haxeflixel.png);
}

#r220 {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/220/kha.png);
}

#r219 {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/219/spacespuds.png);
}

#r218 {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/218/devices.jpg);
}

#r217 {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/217/gameduell.jpg);
}

#eLevel1 {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/events/gamedev101/header.png);
}

#r216 {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/216/blender.png);
}

#noc {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/videos/noc/what-is-it.jpg);
}

#ld30 {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/ld/30/sinister.png);
}

#r215 {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/215/nano.jpg);
}

#r214 {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/214/hordeszero.png);
}

#r213 {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/213/haxor.png);
}

#r212 {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/212/gain.png);
}

#r211 {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/211/sunset.jpg);
}

#flambes-future {
	background-image: linear-gradient(rgba(244,82,201,0.3),rgba(244,82,201,0.3)), url(/img/wwx/2014/switching-to-dart.jpg);
}

#r210 {
	background-image: linear-gradient(rgba(82,244,125,0.3),rgba(82,244,125,0.3)), url(/img/210/haxe-license-plate.jpg);
}

#cocktail-nme {
	background-image: linear-gradient(rgba(82,201,244,0.3),rgba(82,201,244,0.3)), url(/img/wwx/2014/thomas_fetiveau.jpg);
	background-position-x: 50%;
	background-position-y: 15%;
}

#r209 {
	background-image: linear-gradient(rgba(82,244,125,0.3),rgba(82,244,125,0.3)), url(/img/209/weblog.png);
}

#cpp-magic {
	background-image: linear-gradient(rgba(82,201,244,0.3),rgba(82,201,244,0.3)), url(/img/wwx/2014/hugh-magic.jpg);
}

#r208 {
	background-image: linear-gradient(rgba(82,244,125,0.3),rgba(82,244,125,0.3)), url(/img/208/hide.png);
}

#one-year-of-haxe {
	background-image: linear-gradient(rgba(82,201,244,0.3),rgba(82,201,244,0.3)), url(/img/wwx/2014/new-haxe-site.jpg);
}

#r207 {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.5)), url(/img/207/Beacon.png);
}

#r206 {
	background-image: linear-gradient(rgba(244,82,201,0.5),rgba(244,82,201,0.5)), url(/img/206/uppercup.png);
}

#r205 {
	/*background-image: linear-gradient(rgba(241,228,34,0.3),rgba(241,228,34,0.3)), url(/img/205/pewma.jpg);*/
	background-image: linear-gradient(rgba(82,244,125,0.3),rgba(82,244,125,0.3)), url(/img/205/pewma.jpg);
	background-position: bottom;
}

#r204 {
	background-image: linear-gradient(rgba(82,201,244,0.3),rgba(82,201,244,0.3)), url(/img/204/bronko.png);
}

#r203 {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/203/kha-demo.png);
	background-position: center;
}

#r202 {
	background-image: linear-gradient(rgba(244,82,201,0.3),rgba(244,82,201,0.3)), url(/img/202/zombiedelivery.png);
}

#r201 {
	background-image: linear-gradient(rgba(82,201,244,0.3),rgba(82,201,244,0.3)), url(/img/201/january-haxeflixel.png);
}

#speaker_juraj {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/wwx/2014/Juraj_Kirchheim_wwx_2013.jpg);
	background-position: center;
}

#speaker_elliott {
	background-image: linear-gradient(rgba(244,82,201,0.3),rgba(244,82,201,0.3)), url(/img/wwx/2014/ElliottStoneham2014.jpg);
}

#speaker_justin {
	background-image: linear-gradient(rgba(82,201,244,0.3),rgba(82,201,244,0.3)), url(/img/wwx/2014/jjd-sailing.png);
}

#speaker_caue {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/wwx/2014/caue_waneck_wwx_2011_1.jpg);
	background-position: center;
}

#speaker_franco {
	background-image: linear-gradient(rgba(244,82,201,0.3),rgba(244,82,201,0.3)), url(/img/wwx/2014/franco_ponticelli_wwx_2011_3.jpg);
}

#speaker_andreas {
	background-image: linear-gradient(rgba(82,201,244,0.3),rgba(82,201,244,0.3)), url(/img/wwx/2014/andreas_soderlund_wwx_2014.jpg);
}

#speaker_hugh {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/wwx/2014/hugh_sanderson_wwx_2012_3.jpg);
	background-position: center;
}

#r200 {
	background-image: linear-gradient(rgba(244,82,201,0.3),rgba(244,82,201,0.3)), url(/img/200/kha.png);
	background-position: center;
}

#r199 {
	background-image: linear-gradient(rgba(82,201,244,0.3),rgba(82,201,244,0.3)), url(/img/199/haxor-knight.png);
	background-position: center;
}

#ld29 {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/ld/29/ld-lich-king.png);
}

#r198 {
	background-image: linear-gradient(rgba(244,82,201,0.3),rgba(244,82,201,0.3)), url(/img/198/beneath.png);
	background-position: center;
}

#r197 {
	background-image: linear-gradient(rgba(82,201,244,0.3),rgba(82,201,244,0.3)), url(/img/197/netwars.png);
}

#r196 {
	background-image: linear-gradient(rgba(82,244,206,0.3),rgba(82,244,206,0.3)), url(/img/196/alleycats.png);
}