/*
rgb(241,89,34) - http://www.colorhexa.com/f15922
complementary colour 
rgb(34,186,241) - http://www.colorhexa.com/22baf1
*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	color: #333332;
	background-color: rgba(255,253,249,1);
	font-family: 'Gentium Book Basic', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

h1 a:empty,
h2 a:empty,
h3 a:empty,
h4 a:empty,
h5 a:empty,
h6 a:empty {
	display: none;
}

blockquote {
	
}

.grid, .hero {
	display: flex;
	flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  flex-direction: column;
}

article .grid {
	align-items: inherit;
	flex-direction: column-reverse;
}

.grid::after {
	clear: both;
}

.grid::before, 
.grid::after {
  display: table;
  content: "";
  line-height: 0;
}

body,
figure,
video,
.grid {
	
}

[class*="grid-"] {
	flex-basis: auto;
	flex-grow: 1;
}

[class*="grid-1-1"],
.whole {
	max-width: 100%
}

header, article {
	margin: 0 1rem;
}

section {
	/*display: table;	/* Fixes an odd clipping issue in single column mode. */
	/*margin-bottom: 2rem;*/
	line-height: 1.3rem;
}

[class*="grid-"] {
	
}

/* Header & Footer */

header .name {
	font-size: 3rem;
	padding-left: 1rem;
}

html:not([class="/"] ) footer * {
	display: none;
}

header, html[class="/"] footer {
	margin: 0;
	padding-bottom: 1.5rem;
}

header div, html[class="/"] footer div {
	display: flex;
	align-items: center;
	justify-content: center;
}

header [type="image/logo"],
header [type="image/logo"] svg,
html[class="/"] footer .logo svg {
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	min-width: 3rem;
	min-height: 3rem;
	max-width: 3rem;
}

html:not([class="/"]) header [type="image/logo"] {
	margin-bottom: 0;
}

[type="image/logo"] svg * {
	fill: #333332;
	stroke: #333332;
}

/* Footer */

footer {
	padding-top: 1.5rem;
	padding-bottom: 0;
}

html[class="/"] footer div {
	flex-grow: 1;
	opacity: 0.8;
}

html[class="/"] footer .logo {
	margin: 0;
}

html[class="/"] footer .logo div {
	align-items: stretch;
	border-top: 1px solid rgb(189, 189, 189);
}

footer::not(html[class*="/videos"]) {
	
}

/* Typography */

p:empty {
	display: none;
}

p {
	
}

p:first-child {
	margin-top: 0;
}

li {
	
}

/* Code */
pre,
code {
	/*font-size: initial;*/
	font-size: 85%;
	padding: 0 0.2em;
	background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

a code {
	background-color: initial;
}

pre[language] {
	overflow: scroll;
}

code[language] {
	display: table;
	tab-size: 2;
}

.gist {
	
}

/* Links */

header a:not([type]),
article section a:not([type]) {
	color: #333;
	text-decoration: none;
	/*border-bottom: 1px solid rgba(34,186,241, 0.2);*/
	padding: 0rem 0.12rem;
	background-color: rgba(51 ,51, 51, 0.1);
}

article section a[href*="twitter.com"]:not([type]),
article section a[href*="www.twitter.com"]:not([type]) {
	/*border-bottom: 1px solid #55acee;*/
	color: rgb(85, 172, 238);
	background-color: rgba(85, 172, 238, 0.1);
}

article section a[href*="github.com"]:not([type]),
article section a[href*="www.github.com"]:not([type]) {
	/*border-bottom: 1px solid #333;*/
}

article section a[href*="haxe.org"]:not([type]),
article section a[href*="www.haxe.org"]:not([type]) {
	/*border-bottom: 1px solid rgb(234,130,32);*/
	color: rgb(234, 130, 32);
	background-color: rgba(234, 130, 32, 0.1);
}

article section a[href*="patreon.com"]:not([type]),
article section a[href*="www.patreon.com"]:not([type]) {
	/*border-bottom: 1px solid #E6461A;*/
	color: rgb(230, 70, 26);
	background-color: rgba(230, 70, 26, 0.1);
}

article section a[href*="youtube.com"]:not([type]),
article section a[href*="www.youtube.com"]:not([type]) {
	/*border-bottom: 1px solid #e52d27;*/
	color: rgb(205, 32, 31);
	background-color: rgba(205, 32, 31, 0.1);
}

header a:hover:not([type]),
article section a:hover:not([type]) {
	/*color: rgb(34,186,241);*/
	text-decoration: none;
	padding-bottom: 0.1em;
	border-bottom: 1px solid;
}

header a:active:not([type]),
article section a:active:not([type]) {
	/*color: rgb(241,34,82);*/
	text-decoration: none;
	padding-bottom: 0.1em;
	border-bottom: 1px solid;
}

html[class*="/ld"] li a:not([type]) {
	border-bottom: none;
}

html[class*="/ld"] li a:not([type]):hover {
	text-decoration: underline;
}

html[class*="/ld"] li a:not([type])[href*="//ludumdare.com/compo/"] {
	
}

html[class*="/ld"] li a:not([type])[href*="//ludumdare.com/compo/"]:after {
	content: "c";
  /*margin-left: 0.1rem;*/
  /*margin-right: 0.2rem;*/
  padding: 0 0.3rem;
  /*padding-right: 0.4rem;*/
  font-size: 1rem;
	font-weight: bold;
	font-family: monospace;
	text-transform: capitalize;
  border-radius: 0.2rem;
	color: rgb(108,198,68);
	background-color: rgba(108,198,68,0.4);
	/*margin-left: -3.5rem;*/
	line-height: 1.1rem;
	/*display: inline-block;*/
	pointer-events: none;
	float: right;
}

html[class*="/ld"] li a:not([type])[href*="?jam"] {
	/*margin-left: 4rem;*/
}

html[class*="/ld"] li a:not([type])[href*="?jam"]:after {
	content: "j";
	color: rgb(29, 185, 245);
	background-color: rgba(29, 185, 245, 0.4);
	/*margin-left: -4rem;*/
}

/* Images */
figure {
	display: flex;
	margin: 0 1rem;
	flex-direction: column;
	align-items: center;
}

input[id*="pic"] {
	opacity: 0;
	position: absolute;
}

label[for*="pic"] {
	z-index: 3;
	display: block;
	height: 7em;
	overflow: hidden;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}

figcaption {
	/*color: #40403f;*/
	font-size: 0.9em;
	font-style: italic;
	padding-top: 0.55em;
	padding-bottom: 0.55em;
	padding-left: 0.9em;
}

input:checked ~ label {
	height: 100%;
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
}

figure > img {
	max-width: 75vw;
	/*max-height: 25vh;*/
	object-fit: contain;
}

figure > img,
figure > label > img {
	
}

/* Article Details */

.hero {
	align-items: center;
}

.hero h1 {
	font-size: 3.1rem;
	text-align: center;
	margin-bottom: 1.1rem;
}

.details {
	display: block;
	color: #5a5a58;
	text-align: center;
	font-size: 0.94rem;
	font-variant: small-caps;
	padding-bottom: 2rem;
}

/* Article Sidebar */

article section blockquote {
	/*color: #5a5a58;*/
	font-style: italic;
}

/*article aside:not(html[class*="/events"]) {
	display: none;
	overflow: hidden;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}*/

aside {
	display: none;
}

html[class*="/videos"] body > div nav,
aside > nav {
	margin-bottom: 1rem;
}

html[class*="/videos"] body > div nav h1,
aside > nav h1 {
	font-size: 1em;
	margin: 0;
	padding-bottom: 0.625em;
	border-bottom: 1px solid rgba(189, 189, 189, 0.6);
}

aside > nav ul {
	color: #5a5a58;
	
}

aside > nav li {
	list-style-type: square;
}

/*aside > nav li::before {
	/*content: '\00002B';	/*http://codepoints.net/U+002B*/
	/*content: '\00FF0B';	/*http://codepoints.net/U+FF0B*/
	/*font-weight: bold;
	font-size: 1em;
	margin-right: 0.2em;
}*/

html[class*="/videos"] body > div nav li a,
aside > nav li a {
	color: inherit;
	text-decoration: none;
}

html[class*="/videos"] body > div nav li a:hover,
aside > nav li a:hover {
	text-decoration: underline;
}

aside > a {
	color: #F7F5F4;
	text-align: center;
	text-decoration: none;
	
	width: 100%;
	display: block;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 1em;
	
	border-width: 0;
	border-style: none;
}

aside > a:hover {
	color: white;
}

aside > a[href*="next-roundup"] {
	background-color: rgba(108,198,68,0.8);
	/*background-color: #52c9f4;*/
}

aside > a[href*="next-roundup"]:hover {
	background-color: rgba(108,198,68,1);
	/*background-color: #22baf1;*/
}

aside > a[href$=".md"] {
	background-color: rgba(110,84,148,0.8);
	/*background-color: #f47d52;*/
}

aside > a[href$=".md"]:hover {
	background-color: rgba(110,84,148,1);
	/*background-color: #f15922;*/
}

/* 
Responsive Embedding 
from : http://embedresponsively.com/
*/

.embed-container { 
	position: relative; 
	padding-bottom: 100%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	height: auto;
} 

.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

/*
Extra
*/

iframe[src*="eventbrite.com"] {
	min-height: 20em;
}

@media (min-width: 400px) {
	.hero {
		/*margin: 1rem;*/
	}
	
	.hero h1 {
		font-size: 4rem;
		margin-top: 1rem;
	}
	
	figure > img {
		max-width: 80vw;
		max-height: 90vh;
	}
	
	html[class*="/ld"] li a:not([type])[href*="//ludumdare.com/compo/"]:after {
		content: "compo";
	}
	
	html[class*="/ld"] li a:not([type])[href*="?jam"]:after {
		content: "jam";
	}

}

@media (min-width: 650px) {
	body {
		font-size: 1.1rem;
	}
	
	header {
		padding-bottom: 2rem;
	}
	
	footer {
		padding-top: 2rem;
	}
	
	header .name {
		font-size: 5rem;
		padding-left: 2.5rem;
	}
	
	html[class="/"] header [type="image/logo"], 
	html[class="/"] header [type="image/logo"] svg,
	html[class="/"] footer .logo svg {
		margin-top: 1rem;
		margin-bottom: 1.5rem;
		min-width: 5rem;
		min-height: 5rem;
		max-width: 5rem;
	}
	
	[type="image/logo"] svg {
	  /*-webkit-filter: url(#filter);*/
		/* Disabled for FireFox. Check `frontpage.html::<style>` tag for _inline_ css! */
		/*filter: url(#filter);*/
	}
	
	article {
		margin: 0 2rem;
	}
	
	.hero h1 {
		font-size: 4.2rem;
	}
	
	.details {
		font-size: 1.04rem;
		padding-bottom: 3rem;
	}
	
	section {
		line-height: 1.5rem;
	}
	
}

@media (min-width: 900px) {
	body {
		font-size: 1.2rem;
	}
	
	header .name {
		font-size: 6rem;
		padding-left: 3rem;
	}
	
	html[class="/"] header [type="image/logo"],
	html[class="/"] header [type="image/logo"] svg,
	html[class="/"] footer .logo svg {
		margin-top: 2rem;
		margin-bottom: 3rem;
		min-width: 6rem;
		min-height: 6rem;
		max-width: 6rem;
	}
	
	aside {
		display: block;
		font-size: 1.1rem;
	}
	
	article {
		margin: 0 5rem;
	}
	
	.hero h1 {
		font-size: 5rem;
	}
	
	.details {
		font-size: 1.14rem;
		padding-bottom: 4rem;
	}
	
	article .grid {
		flex-direction: row;
	}
	
	article [class*="grid-"] {
		padding: 0 1rem;
	}
	
	article [class*="grid-"]:first-child {
		padding-left: 0;
	}
	
	article [class*="grid-"]:last-child {
		padding-right: 0;
	}
	
	[class*="grid-1-2"],
	[class*="grid-2-4"] {
		max-width: 50%;
	}
	
	[class*="grid-1-3"] {
		max-width: 33.33%;
	}
	
	[class*="grid-2-3"] {
		max-width: 66.66%;
	}
	
	[class*="grid-1-4"] {
		max-width: 25%;
	}
	
	[class*="grid-3-4"] {
		max-width: 75%;
	}
	
	aside > a:first-of-type {
		-webkit-border-top-left-radius: 4px;
		-webkit-border-top-right-radius: 4px;
		-moz-border-top-left-radius: 4px;
		-moz-border-top-right-radius: 4px;
		-ms-border-top-left-radius: 4px;
		-ms-border-top-right-radius: 4px;
		-o-border-top-left-radius: 4px;
		-o-border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}
	
	aside > a:last-of-type {
		-webkit-border-bottom-left-radius: 4px;
		-webkit-border-bottom-right-radius: 4px;
		-moz-border-bottom-left-radius: 4px;
		-moz-border-bottom-right-radius: 4px;
		-ms-border-bottom-left-radius: 4px;
		-ms-border-bottom-right-radius: 4px;
		-o-border-bottom-left-radius: 4px;
		-o-border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	
	figure > img {
		max-width: 54vw;
		max-height: 34vh;
	}
	
	header svg,
	html[class="/"] footer svg {
		min-width: 6rem;
		max-width: 6rem;
		min-height: 6rem;
	}

}

@media (min-width: 1100px) {
	.hero h1 {
		font-size: 6rem;
	}
	
	.details {
		padding-bottom: 3rem;
	}
	
	article {
		margin: 0 10rem;
	}
	
	article [class*="grid-"] {
		padding: 0 1.5rem;
	}
	
}

@media (min-width: 1400px) {
	.hero h1 {
		font-size: 7rem;
	}
	
	.details {
		padding-bottom: 5rem;
	}
	
	aside {
		font-size: 1.2rem;
	}
	
	article {
		margin: 0 17rem;
	}
	
	article [class*="grid-"] {
		padding: 0 2.5rem;
	}
	
}

@media (min-width: 1700px) {
	body {
		font-size: 1.3rem;
	}
	
	.hero h1 {
		font-size: 8rem;
	}
	
	.details {
		padding-bottom: 8rem;
	}
	
	article {
		margin: 0 20rem;
	}
	
	article [class*="grid-"] {
		padding: 0 4rem;
	}
	
	section {
		line-height: 1.7rem;
	}
	
	figure > img {
		max-height: 44vh;
	}
	
	aside > nav ul {
		font-size: 1.2rem;
	}
	
	aside > nav li {
		list-style-type: disc;
		line-height: 1.8rem;
	}
	
}
