/*
rgb(241,89,34) - http://www.colorhexa.com/f15922
complementary colour 
rgb(34,186,241) - http://www.colorhexa.com/22baf1
*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	color: #333332;
	font-size: 1.1em;
	font-family: 'Gentium Book Basic', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

h1 em,
h2 em,
h3 em,
h4 em,
h5 em,
h6 em {
	font-family: 'Gentium Book Basic', serif;
}

.grid,
.grid::after {
	display: block;
	clear: both;
}

.grid::before, 
.grid::after {
  display: table;
  content: "";
  line-height: 0;
}

body,
figure,
video,
.grid,
[class*="grid-"],
.whole {
	width: 100%;
}

[class*="grid-"] {
	float: left;
}

section,
[class*="grid-"] {
	padding-left: 0.625em;
	padding-right: 0.625em;
}

/* Header & Footer */

footer > div:first-child,
header > div:first-child {
	background-color: rgb(241,89,34);
}

footer svg,
header svg {
	width: 6.25em;
	height: 6.25em;
	margin: 0.625em;
}

footer svg path,
header svg path {
	stroke: white;
}

/* Footer */

footer::not(html[class*="/videos"]) {
	padding-top: 4.5em;
}

footer svg {
	float: right;
}

/* Typography */

p:empty {
	display: none;
}

p {
	font-size: 1.1em;
	line-height: 1.5em;
	margin-bottom: 1.25em;
}

li {
	line-height: 1.5em;
}

p:first-child {
	margin-top: 0;
}

/* Links */
header a:not([type]),
article section a:not([type]) {
	color: rgb(34,186,241);
	text-decoration: none;
	padding-bottom: 0.1em;
	border-bottom: 1px solid rgba(34,186,241, 0.2);
}

header a:hover:not([type]),
article section a:hover:not([type]) {
	color: rgb(34,186,241);
	text-decoration: none;
	padding-bottom: 0.1em;
	border-bottom: 1px solid;
}

header a:active:not([type]),
article section a:active:not([type]) {
	color: rgb(241,34,82);
	text-decoration: none;
	padding-bottom: 0.1em;
	border-bottom: 1px solid;
}

/* Code */
pre,
code {
	font-size: initial;
}
pre[language] {
	overflow: scroll;
}

code[language] {
	display: table;
	tab-size: 2;
}

/* Images */
figure {
	margin: 0 auto;
	border-width: 1px;
	border-style: solid;
	border-color: #f5f5f5;
}

input[id*="pic"] {
	opacity: 0;
	position: absolute;
}

label[for*="pic"] {
	z-index: 3;
	display: block;
	height: 7em;
	overflow: hidden;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}

figcaption {
	color: #40403f;
	font-size: 0.9em;
	font-style: italic;
	padding-top: 0.55em;
	padding-bottom: 0.55em;
	padding-left: 0.9em;
}

input:checked ~ label {
	height: 100%;
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
}

figure > img,
figure > label > img {
	width: 100%;
}

/* Article Details */

.hero {
	display: table;
	margin: 0 auto;
	text-align: center;
}

.hero h1 {
	margin: 0;
	font-size: 2.5em;
	padding-top: 0.625em;
	padding-left: 0.325em;
	padding-right: 0.325em;
}

.details {
	color: #5a5a58;
	font-size: 0.9em;
	font-variant: small-caps;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
}

/* Article Sidebar */

article section blockquote {
	color: #5a5a58;
	font-style: italic;
	margin-left: 0;
	margin-right: 0;
}

article aside:not(html[class*="/events"]) {
	display: none;
	overflow: hidden;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html[class*="/videos"] body > div nav,
aside > nav {
	margin-bottom: 0.2em;
}

html[class*="/videos"] body > div nav h1,
aside > nav h1 {
	font-size: 1em;
	margin: 0;
	padding-bottom: 0.625em;
	border-bottom: 1px grey solid;
}

aside > nav ul {
	color: #5a5a58;
	padding-left: 0;
}

aside > nav li {
	font-size: 0.8em;
	padding-bottom: 0.625em;
	list-style-type: none;
}

aside > nav li::before {
	/*content: '\00002B';	/*http://codepoints.net/U+002B*/
	content: '\00FF0B';	/*http://codepoints.net/U+FF0B*/
	font-weight: bold;
	font-size: 1em;
	margin-right: 0.2em;
}

html[class*="/videos"] body > div nav li a,
aside > nav li a {
	color: inherit;
	text-decoration: none;
}

html[class*="/videos"] body > div nav li a:hover,
aside > nav li a:hover {
	text-decoration: underline;
}

aside > a {
	width: 100%;
	display: block;
	padding-top: 1em;
	padding-bottom: 1em;
	
	border-width: 0;
	border-style: none;
}

aside > a {
	color: white;
	text-align: center;
	text-decoration: none;
}

aside > a[href*="next-roundup"] {
	/*background-color: #22baf1;*/
	background-color: #52c9f4;
}

aside > a[href*="next-roundup"]:hover {
	background-color: #22baf1;
}

aside > a[href$=".md"] {
	/*background-color: #f15922;*/
	background-color: #f47d52;
}

aside > a[href$=".md"]:hover {
	background-color: #f15922;
}

aside > a:first-of-type {
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-moz-border-top-right-radius: 4px;
	-ms-border-top-left-radius: 4px;
	-ms-border-top-right-radius: 4px;
	-o-border-top-left-radius: 4px;
	-o-border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

aside > a:last-of-type {
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	-ms-border-bottom-left-radius: 4px;
	-ms-border-bottom-right-radius: 4px;
	-o-border-bottom-left-radius: 4px;
	-o-border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

/* Article Anchor */

article section > h2 > a {
	display: block;
	position: absolute;

	margin-left: -1.5em;
	padding-right: 1em;
	padding-bottom: 1em;
	padding-top: 1em;
	margin-top: -1em;

	border: none;
	visibility: hidden;

	color: #333332;
	text-decoration: none;
}

article section > h2:hover > a {
	visibility: visible;
}

article section > h2 > a > span::before {
	cursor: pointer;
	content: "\0000A7";
	font-size: 0.8em;
	margin-left: 0.6em;
}

/* Front Page */

html main ul {
	margin: 0;
	padding: 0;
}

html[class="/"] main li,
html[class="/"] main li:first-child {
	height: 10.5em;
	display: block;
	position: relative;
	width: 100%;
	float: left;
	overflow: hidden;
}

html[class="/"] main li:first-child {
	height: 10.5em;
}

html[class="/"] main li a {
	display: block;
	padding-top: 0.625em;
	text-decoration: none;
}

html[class="/"] main li a,
html[class="/"] main li p {
	padding-left: 0.625em;
	padding-right: 0.625em;
	color: white;
}

html[class="/"] main li h1,
html[class="/"] main li p {
	font-weight: normal;
	margin: 0;
}

html[class="/"] main li h1 {
	font-family: Arial;
	padding-bottom: 0.625em;
}

/*html[class="/"] main li:not(:first-child) p {
	padding-top: 21em;
}*/

html[class="/"] main li:nth-child(3n+2):not(id) {
	/*background-image: linear-gradient(rgba(82,244,206,0.5),rgba(82,244,206,0.5));*/
	background: rgba(82,244,206,1);
}

html[class="/"] main li:nth-child(3n+3):not(id) {
	/*background: linear-gradient(rgba(241,228,34,0.5),rgba(241,228,34,0.5));*/
	background: rgba(241,228,34,1);
}

html[class="/"] main li:nth-child(3n+4):not(id) {
	/*background: linear-gradient(rgba(82,201,244,0.5),rgba(82,201,244,0.5));*/
	background: rgba(82,201,244,1);
}

html[class="/"] main li:first-child {
	background-size: cover;
}

html[class="/"] footer {
	padding: 0;
}

/*
Video & Event CSS
*/
html[class*="/events"] article,
html[class*="/videos"] article,
html[class*="/videos"] body > div {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
}

html[class*="/events"] article,
html[class*="/videos"] body > div {
	-webkit-flex-direction: column-reverse;
	-moz-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

html[class*="/events"] article aside,
html[class*="/events"] article section,
html[class*="/videos"] body > div > div,
html[class*="/videos"] body > div > nav {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
}

html[class*="/videos"] body > div > div,
html[class*="/videos"] body > div > nav {
	-webkit-flex-basis: 100%;
	-moz-flex-basis: 100%;
	-ms-flex-basis: 100%;
	flex-basis: 100%;
}

/* 
Responsive Embedding 
from : http://embedresponsively.com/
*/

.embed-container { 
	position: relative; 
	padding-bottom: 100%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	height: auto;
} 

.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

/*
Extra
*/

iframe[src*="eventbrite.com"] {
	min-height: 20em;
}

@media all and (min-width: 550px) {
	article section blockquote {
		color: #5a5a58;
		font-style: italic;
		margin-left: inherit;
		margin-right: inherit;
	}
	
	.embed-container {
		padding-bottom: 56.25%; 
	}
}

@media all and (min-width: 700px) {
	.hero h1 {
		font-size: 3.5em;
		padding-left: 0;
		padding-right: 0;
	}
	
	.details {
		font-size: 1.1em;
		padding-left: 0;
		padding-right: 0;
	}
	
	pre[language], 
	code[language] {
		tab-size: 3;
	}
	
	html[class="/"] main li {
		min-height: 21em;
	}

	html[class="/"] main li {
		width: 50%;
	}
}

@media all and (min-width: 770px) {
	[class*="grid-"]:first-child {
		padding-left: 0;
	}

	[class*="grid-"]:last-child {
		padding-right: 0;
	}
	
	.grid-2-3,
	[alt*="grid-2-3"],
	.two-thirds {
		width: 66.66%;
	}

	.grid-1-2,
	[alt*="grid-1-2"],
	.half,
	.two-quarters,
	.two-fourths {
		width: 50%;
	}

	.grid-1-3,
	[alt*="grid-1-3"],
	.one-third {
		width: 33.33%;
	}

	.grid-2-3,
	[alt*="grid-2-3"],
	.two-thirds {
		width: 66.66%;
	}

	.grid-1-4,
	[alt*="grid-1-4"],
	.one-quarter,
	.one-fourth {
		width: 25%;
	}

	.grid-3-4,
	[alt*="grid-3-4"],
	.three-quarters,
	.three-fourths {
		width: 75%;
	}

	.grid-1-5,
	[alt*="grid-1-5"],
	.one-fifth {
		width: 20%;
	}

	.grid-2-5,
	[alt*="grid-2-5"],
	.two-fifths {
		width: 40%;
	}

	.grid-3-5,
	[alt*="grid-3-5"],
	.three-fifths {
		width: 60%;
	}

	.grid-4-5,
	[alt*="grid-4-5"],
	.four-fifths {
		width: 80%;
	}

	.grid-1-8,
	[alt*="grid-1-8"],
	.one-eighth {
		width: 12.5%;
	}

	.grid-1-12,
	[alt*="grid-1-12"],
	.one-twelfth {
		width: 8.33%;
	}

	.hero h1 {
		margin: 0;
		padding-top: 0.625em;
	}
	
	.hero,
	header,
	article:not(html[class*="/events"]) {
		width: 90%;
	}
	
	.hero,
	header,
	article {
		margin: 0 auto;
	}
	
	.details {
		padding-bottom: 5em;
	}
	
	article aside {
		display: block;
	}
	
	pre[language], 
	code[language] {
		tab-size: 4;
	}
	
	html[class*="/videos"] .details {
		padding-bottom: 2.5em;
	}
	
	html[class*="/events"] article,
	/*
	Enabling this breaks rendering of these 
	elements in this media query.
	*/
	/*html[class*="/events"] article aside,*/
	html[class*="/videos"] body > div {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: flex;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap-reverse;
		-moz-flex-wrap: wrap-reverse;
		-ms-flex-wrap: wrap-reverse;
		flex-wrap: wrap-reverse;
	}
	
	html[class*="/videos"] body > div > div {
		-webkit-flex-grow: 4;
		-moz-flex-grow: 4;
		-ms-flex-grow: 4;
		flex-grow: 4;
		-webkit-flex-basis: 80%;
		-moz-flex-basis: 80%;
		-ms-flex-basis: 80%;
		flex-basis: 80%;
	}
	
	html[class*="/videos"] body > div > nav {
		-webkit-flex-grow: 1;
		-moz-flex-grow: 1;
		-ms-flex-grow: 1;
		flex-grow: 1;
		-webkit-flex-basis: 20%;
		-moz-flex-basis: 20%;
		-ms-flex-basis: 20%;
		flex-basis: 20%;
		overflow-y: scroll;
		min-width: 13em;
	}
	
	html[class*="/events"] article aside div {
		-webkit-flex-grow: 1;
		-moz-flex-grow: 1;
		-ms-flex-grow: 1;
		flex-grow: 1;
		-webkit-flex-basis: 50%;
		-moz-flex-basis: 50%;
		-ms-flex-basis: 50%;
		flex-basis: 50%;
	}
}

@media all and (min-width: 881px) {
	html[class*="/events"] article aside {
		display: block;
		-webkit-flex-grow: 1;
		-moz-flex-grow: 1;
		-ms-flex-grow: 1;
		flex-grow: 1;
		-webkit-flex-basis: 45%;
		-moz-flex-basis: 45%;
		-ms-flex-basis: 45%;
		flex-basis: 45%;
		padding-right: 1.25em;
	}
	
	html[class*="/events"] article aside div {
		min-height: 55vh;
		margin-bottom: 1.25em;
	}
	
	html[class*="/events"] article section {
		-webkit-flex-grow: 2;
		-moz-flex-grow: 2;
		-ms-flex-grow: 2;
		flex-grow: 2;
		-webkit-flex-basis: 55%;
		-moz-flex-basis: 55%;
		-ms-flex-basis: 55%;
		flex-basis: 55%;
	}
	
	iframe[src*="eventbrite.com"] {
		min-height: 24em;
	}
}

@media all and (min-width: 900px) {
	.hero h1 {
		margin: 0;
		padding-top: 0.625em;
		font-size: 4em;
	}
	
	html[class="/"] main li {
		width: 33.33%;
	}
	
	html[class="/"] main li:first-child {
		width: 66.66%;
		height: 21em;
	}
}

@media all and (min-width: 1020px) {
	.hero,
	header,
	article {
		width: 80%;
	}
	
	html[class*="/events"] .hero,
	html[class*="/events"] article {
		width: 90%;
	}
}

@media all and (min-width: 1156px) {
	.hero,
	header,
	article {
		width: 70%;
	}
	
	html[class*="/events"] .hero,
	html[class*="/events"] article {
		width: 80%;
	}
	
	html[class="/"] main li {
		width: 25%;
	}
	
	html[class="/"] main li:first-child {
		width: 75%;
	}
}

@media all and (min-width: 1360px) {
	.hero,
	header,
	article {
		width: 65%;
	}
	
	html[class*="/events"] .hero,
	html[class*="/events"] article {
		width: 75%;
	}
}