/*
rgb(241,89,34) - http://www.colorhexa.com/f15922
complementary colour 
rgb(34,186,241) - http://www.colorhexa.com/22baf1
*/

html, 
body {
	color: #333332;
	font-size: 1em;
	font-family: 'Bitter', serif;
}

nav {
	margin: 0;
	display: inline-block;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav ul li {
	width: 20vw;
	display: inline-block;
}

main, 
img:first-child,
figure {
	margin: 0 auto;
	max-width: 80vw;
}

h2 {
	position: relative;
}

p {
	line-height: 1.7em;
	margin-bottom: 1.7em;
}

/*p > img {
	display: block;
}*/

figure {
	margin: 0 auto;
	border-width: 1px;
	border-style: solid;
	border-color: #f5f5f5;
}

figcaption {
	color: #40403f;
	font-size: 0.77em;
	font-style: italic;
	padding-top: 0.55em;
	padding-bottom: 0.55em;
	padding-left: 0.77em;
}

figure > div {
	margin: 0 auto;
	display: block;
	max-height: 10vh;
	overflow: hidden;
	-webkit-transition: all 0.4s ease; 
    -moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

figure > div > img {
	width: 100%;
}

input[id*="pic"] {
	opacity: 0;
	position: absolute;
}

label[for*="pic"] {
	z-index: 3;
	display: block;
	cursor: pointer;
	min-width: 80vw;
	min-height: 10vh;
	position: absolute;
}

input:checked ~ div {
	max-height: 100vh;
}

input:checked ~ label[for*="pic"] {
	min-height: 21%;
}

p img[alt*=inline] {
	width: 1em;
	height: 1em;
	display: inline-block;
}

h1 {
	font-size: 1.7em;
	margin-bottom: 0.1em;
}

a:not([type]) {
	color: rgb(34,186,241);
	text-decoration: none;
	padding-bottom: 0.1em;
	border-bottom: 1px solid rgba(34,186,241, 0.2);
}

a:hover:not([type]) {
	color: rgb(34,186,241);
	text-decoration: none;
	padding-bottom: 0.1em;
	border-bottom: 1px solid;
}

a:active:not([type]) {
	color: rgb(241,34,82);
	text-decoration: none;
	padding-bottom: 0.1em;
	border-bottom: 1px solid;
}

h2 > a {
	display: block;
	position: absolute;
	
	margin-left: -1.5em;
	padding-right: 1em;
	padding-bottom: 1em;
	padding-top: 1em;
	margin-top: -1em;
	
	border: none;
	visibility: hidden;
	
	color: #333332;
	text-decoration: none;
}

h2:hover > a {
	visibility: visible;
}

h2 > a > span::before {
	cursor: pointer;
	content: "\0000A7";
	font-size: 0.8em;
	margin-left: 0.6em;
}

.article.details {
	font-size: 0.9em;
	font-variant: small-caps;
	padding-bottom: 2em;
}

.article.details div {
	margin: 0;
	color: #525252;
	display: inline-block;
}

.article.details div:last-of-type {
	float: right;
}

footer {
	min-height: 10em;
	background-color: rgb(241,89,34);
}

li {
	padding-bottom: 0.7em;
}

html[class="/"] main ol {
	margin: 0;
	padding: 0;
}

html[class="/"] main li {
	list-style-type: none;
}

html[class="/"] li:first-child {
	padding-top: 2em;
}

html[class="/"] main h1 {
	padding-top: 1.5em;
}

@media all and (min-width: 699px) {
	html, body {
		font-size: 1.05em;
	}

	h1 {
		font-size: 2em;
	}
	
	main, 
	img:first-child,
	figure {
		max-width: 70vw;
	}
	
	figure > div {
		max-height: 15vh;
	}
	
	label[for*="pic"] {
		min-width: 70vw;
		min-height: 15vh;
	}
	
	input:checked ~ label[for*="pic"] {
		min-height: 35%;
	}
}

@media all and (min-width: 899px) {
	h1 {
		font-size: 2.3em;
	}
	
	main, 
	img:first-child,
	figure {
		max-width: 60vw;
	}
	
	figure > div {
		max-height: 20vh;
	}
	
	label[for*="pic"] {
		min-width: 60vw;
		min-height: 20vh;
	}
	
	input:checked ~ label[for*="pic"] {
		min-height: 40%;
	}
}

@media all and (min-width: 1099px) {
	main, 
	img:first-child,
	figure {
		max-width: 50vw;
	}
	
	figure > div {
		max-height: 15vh;
	}
	
	label[for*="pic"] {
		min-width: 50vw;
		min-height: 15vh;
	}
	
	input:checked ~ label[for*="pic"] {
		min-height: 48%;
	}
	
}