/*
rgb(241,89,34) - http://www.colorhexa.com/f15922
complementary colour 
rgb(34,186,241) - http://www.colorhexa.com/22baf1
*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	color: #333332;
	font-size: 1.1em;
	font-family: 'Bitter', serif;
}

.grid,
.grid::after {
	display: block;
	clear: both;
}

.grid::before, 
.grid::after {
  display: table;
  content: "";
  line-height: 0;
}

body,
figure,
.grid,
[class*="grid-"],
.whole {
	width: 100%;
}

[class*="grid-"] {
	float: left;
	padding-left: 0.625em;
	padding-right: 0.625em;
}

[class*="grid-"]:first-child {
	padding-left: 0;
}

[class*="grid-"]:last-child {
	padding-right: 0;
}

/* Header */

header > div:first-child {
	background-color: rgb(241,89,34);
}

header svg {
	width: 6.25em;
	height: 6.25em;
	margin: 0.625em;
}

header svg path {
	stroke: white;
}

/* Typography */

p {
	line-height: 1.6em;
}

p:empty {
	display: none;
}

/* Links */
header a:not([type]),
article section a:not([type]) {
	color: rgb(34,186,241);
	text-decoration: none;
	padding-bottom: 0.1em;
	border-bottom: 1px solid rgba(34,186,241, 0.2);
}

header a:hover:not([type]),
article section a:hover:not([type]) {
	color: rgb(34,186,241);
	text-decoration: none;
	padding-bottom: 0.1em;
	border-bottom: 1px solid;
}

header a:active:not([type]),
article section a:active:not([type]) {
	color: rgb(241,34,82);
	text-decoration: none;
	padding-bottom: 0.1em;
	border-bottom: 1px solid;
}

/* Code */
pre > code {
	display: block;
}

/* Images */
figure {
	margin: 0 auto;
	border-width: 1px;
	border-style: solid;
	border-color: #f5f5f5;
}

input[id*="pic"] {
	opacity: 0;
	position: absolute;
}

label[for*="pic"] {
	z-index: 3;
	display: block;
	height: 7em;
	overflow: hidden;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}

figcaption {
	color: #40403f;
	font-size: 0.77em;
	font-style: italic;
	padding-top: 0.55em;
	padding-bottom: 0.55em;
	padding-left: 0.77em;
}

input:checked ~ label {
	height: 100%;
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
}

figure > img,
figure > label > img {
	width: 100%;
}

/* Article Details */

.hero {
	display: table;
	margin: 0 auto;
}

.hero h1 {
	margin: 0;
	padding-top: 0.625em;
	font-size: 3em;
}

.details {
	font-size: 0.9em;
	font-variant: small-caps;
	padding-bottom: 2.5em;
}

/* Article Sidebar */

article aside {
	display: none;
	overflow: hidden;
}

aside > nav {
	margin-bottom: 0.2em;
}

aside > nav h1 {
	font-size: 1em;
	margin: 0;
	padding-bottom: 0.625em;
	border-bottom: 1px grey solid;
}

aside > nav ul {
	color: #5a5a58;
	padding-left: 0;
}

aside > nav li {
	font-size: 0.8em;
	padding-bottom: 0.625em;
	list-style-type: none;
}

aside > nav li::before {
	/*content: '\00002B';	/*http://codepoints.net/U+002B*/
	content: '\00FF0B';	/*http://codepoints.net/U+FF0B*/
	font-weight: bold;
	font-size: 1em;
	margin-right: 0.2em;
}

aside > nav li a {
	color: inherit;
	text-decoration: none;
}

aside > nav li a:hover {
	text-decoration: underline;
}

aside > a {
	width: 100%;
	display: block;
	padding-top: 1em;
	padding-bottom: 1em;
	
	border-width: 0;
	border-style: none;
}

aside > a {
	color: white;
	text-align: center;
	text-decoration: none;
}

aside > a[href*="next-roundup"] {
	background-color: #22baf1;
}

aside > a[href$=".md"] {
	background-color: #f15922;
}

aside > a:first-of-type {
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

aside > a:last-of-type {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

/* Article Anchor */

article section > h2 > a {
	display: block;
	position: absolute;

	margin-left: -1.5em;
	padding-right: 1em;
	padding-bottom: 1em;
	padding-top: 1em;
	margin-top: -1em;

	border: none;
	visibility: hidden;

	color: #333332;
	text-decoration: none;
}

article section > h2:hover > a {
	visibility: visible;
}

article section > h2 > a > span::before {
	cursor: pointer;
	content: "\0000A7";
	font-size: 0.8em;
	margin-left: 0.6em;
}

@media all and (min-width: 770px) {
	.grid-2-3,
	.two-thirds {
		width: 66.66%;
	}

	.grid-1-2,
	.half,
	.two-quarters,
	.two-fourths {
		width: 50%;
	}

	.grid-1-3,
	.one-third {
		width: 33.33%;
	}

	.grid-2-3,
	.two-thirds {
		width: 66.66%;
	}

	.grid-1-4,
	.one-quarter,
	.one-fourth {
		width: 25%;
	}

	.grid-3-4,
	.three-quarters,
	.three-fourths {
		width: 75%;
	}

	.grid-1-5,
	.one-fifth {
		width: 20%;
	}

	.grid-2-5,
	.two-fifths {
		width: 40%;
	}

	.grid-3-5,
	.three-fifths {
		width: 60%;
	}

	.grid-4-5,
	.four-fifths {
		width: 80%;
	}

	.grid-1-8,
	.one-eighth {
		width: 12.5%;
	}

	.grid-1-12,
	.one-twelfth {
		width: 8.33%;
	}

	.hero h1 {
		margin: 0;
		padding-top: 0.625em;
		font-size: 3.5em;
	}
	
	article aside {
		display: inherit;
	}
}

@media all and (min-width: 900px) {
	header,
	article {
		width: 90%;
		margin: 0 auto;
	}
	
	.hero h1 {
		margin: 0;
		padding-top: 0.625em;
		font-size: 4em;
	}
}

@media all and (min-width: 1020px) {
	header,
	article {
		width: 80%;
	}
}

@media all and (min-width: 1156px) {
	header,
	article {
		width: 70%;
	}
}