@use "_core";
@use "_header";

.hero {
    text-align: center;

    h1 {
        font-size: 4rem;
    }
}

article {
    li {
        a {
            code {
                display: initial;
            }
        }

        blockquote {
            padding: unset;
            padding-left: var(--pico-spacing);

            p {
                font-style: italic;
            }
        }
    }
}

@media (min-width: 768px) {
    .hero h1 {
        font-size: 5rem;
    }
}

@media (min-width: 1024px) {
    .hero h1 {
        font-size: 6rem;
    }
}