html, body {
	font-size: 1.05em;
	font-family: 'Bitter', serif;
}

body {
	margin: 0 auto;
}

p {
	line-height: 1.7em;
	margin-bottom: 1.3em;
	color: rgb(31, 28, 28);
}

p img[alt] {
	width: 1em;
	height: 1em;
	display: inline-block;
}

@media all and (min-width: 699px) {
	body {
		max-width: 80vw;
	}
}

@media all and (min-width: 899px) {
	body {
		max-width: 70vw;
	}
}