.hero {
    text-align: center;
}

.hero h1 {
    font-size: 6rem;
}

footer {
    padding: 2rem;
}

footer .tools .subtitle {
    list-style: none;
    margin-left: -0.8rem;
}

footer .tools li:not(.subtitle) {
    font-size: .800rem;
}

footer .social li {
    text-transform: capitalize;
}