.hero {
    text-align: center;
}

.hero h1 {
    font-size: 6rem;
}

article li a code {
    display: initial;
}

article li blockquote {
    padding: unset;
    padding-left: var(--pico-spacing);
}

article li blockquote p {
    font-style: italic;
}